@import '../styles/colors';

.courses {
  h1 {
    color: $tertiaryColor;
    text-align: center;
  }

  h2 {
    color: $tertiaryColor;
    text-align: center;
    size: 30px;
  }

  hr {
    border: 1.5px solid $tertiaryColor;
  }

  Col {
    color: $textWhite;
  }
}

.courseCards {
  font-size: large;
  .list-field {
    outline: 0.5px solid rgb(22, 22, 22);
    max-height: 43.33px;
    max-height: fit-content;
  }
}

.courseCards:nth-child(even) {
  background-color: $cardColor;
  margin-top: 10px;
  margin-bottom: 10px;
  .list-field {
    background-color: $cardColor;
  }
}

.courseCards:nth-child(odd) {
  background-color: adjust-hue($color: $cardColor, $degrees: -4);
  .list-field {
    background-color: adjust-hue($color: $cardColor, $degrees: -4);
  }
}
