$primaryColor: rgb(36, 36, 36);
$secondaryColor: #2b2d2e;
$textWhite: rgb(189, 193, 197);

.page-header {
  background-color: $primaryColor;
  padding: 10px;
  .title {
    color: $textWhite;
    font-size: 175%;
  }
}

.page-body {
  background-color: #202124;
  display: flex;
  height: fit-content;
  padding-top: 25px;
  padding-bottom: 50px;
}

.page-footer {
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: rgb(94, 94, 94);
}

// HOME PAGE

.search-bar {
  margin-top: 50;
}

.browse-button {
  font-size: large;
}

// COURSES

.course-cards:nth-child(even) {
  background-color: #252829;
  margin-top: 10px;
  margin-bottom: 10px;
}

.course-cards:nth-child(odd) {
  background-color: #2b2d2e;
}

.list-field:nth-child(odd) {
  background-color: #2e3031;
}

//  DEPARTMENTS

.deptCard {
  .dept {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: $textWhite;
  }
  :hover {
    cursor: pointer;
    background: rgb(68, 64, 64);
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.termSelect {
  display: flex;
  flex-direction: row;
  .selector {
    margin: 10px;
  }

  // align-items: ;
}
