

.page-header {
  
}
.page-body {
  background-color: black;
  // height: 100vh;
}

.page-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: rgb(94, 94, 94);
}
