.page-header {
}
.page-body {
  background-color: #202124;
  height: 100%;
}

.page-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 100;
  text-align: center;
  background-color: rgb(94, 94, 94);
}

.search-bar {
  margin-top: 50;
}

.browse-button {
  font-size: large;
}

.course-cards:nth-child(even) {
  background-color: #252829;
  margin-top: 10px;
  margin-bottom: 10px;
}

.course-cards:nth-child(odd) {
  background-color: #2b2d2e;
}

.list-field:nth-child(odd) {
  background-color: #2e3031;
}
